<div class="flex h-screen">
  <app-sidenavbar ></app-sidenavbar>
  <div >
    <div class="mainContent ">
      <div class="header-section">
        <h1 class="header-title">{{ activeHeader }}</h1>
        <div class="subheader-container">
          <div class="subheader-text">Create and edit Configuration</div>
          <img
            src="../../assets/icons/i-icon.svg"
            alt="Icon"
            class="subheader-icon"
          />
        </div>
      </div>

      <div class="search-date-container">
        <!-- Search Bar -->
        <div class="search-filter-container">
          <div class="search-box">
          <input
            type="text"
            placeholder="Search For Something..."
            class="search-input"
            [(ngModel)]="searchTerm"
            (ngModelChange)="searchTermChanged()"
          />
          <button class="search-btn">
            <img
              src="../../assets/icons/download-removebg-preview.png"
              alt="Search"
            />
          </button>
          </div>
        </div>

        <!-- Date Filter and Date Inputs -->
        <div class="date-filters" *ngIf="currentTable === 'Environment'">
          <div class="date-inputs">
            <label for="start-date" class="date-label">Start Date:</label>
            <input
              type="date"
              id="start-date"
              (change)="onDateChange($event)"
              class="date-input"
              [min]="minDate"
              [max]="maxDate"
            />

            <label for="end-date" class="Enddate-label">End Date:</label>
            <input
              type="date"
              id="end-date"
              (change)="onDateChange($event)"
              class="date-input"
              [min]="minDate"
              [max]="maxDate"
            />
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="button-container">
        <div class="button-frame">
          <div class="mb-4">
            <button
              class="button"
              [ngClass]="{
                'active-button': activeButton === 'Environment',
                'transition-active': isTransitioning
              }"
              (click)="showTable('Environment')"
              (click)="setActiveButton('Environment')"
            >
              Environment
            </button>
            <button
              class="button"
              [ngClass]="{
                'active-button': activeButton === 'robot',
                'transition-active': isTransitioning
              }"
              (click)="showTable('robot')"
              (click)="setActiveButton('robot')"
            >
              Robot
            </button>
            <button
              class="button"
              [ngClass]="{
                'active-button': activeButton === 'fleet',
                'transition-active': isTransitioning
              }"
              (click)="setActiveButton('fleet')"
            >
              Fleet
            </button>
          </div>
        </div>
      </div>

      <!-- Table -->
      <div class="table-container">
        <div
          
        >
          <div >
            <table
             
              *ngIf="currentTable === 'Environment' && !imageUploaded"
            >
              <thead >
                <tr>
                  <th
                    
                  >
                    Map Name
                  </th>
                  <th
                    
                  >
                    Site Name
                  </th>
                  <th
                    
                  >
                    Last Created
                  </th>
                  <th
                    class="iconTable"
                  >
                    Edit/Delete
                  </th>
                  <th
                  class="iconTable"                  >
                    Pick Map
                  </th>
                </tr>
              </thead>
              <tbody >
                <tr *ngIf="filteredEnvData.length === 0">
                  <td colspan="5" class="iconTable">
                    No data found
                  </td>
                </tr>
                <tr *ngFor="let item of filteredEnvData">
                  <td >
                    {{ item.mapName }}
                  </td>
                  <td >
                    {{ item.siteName }}
                  </td>
                  <td >
                    {{ item.date }}
                  </td>
                  <td class="iconTable" >
                    <div class="edit">
                      <img
                        src="../../assets/ConfigurationOptions/Edit.svg"
                        alt="Edit"
                        (click)="editItem(item)"
                        class="icon"
                      />
                      <img
                        src="../../assets/ConfigurationOptions/Delete.svg"
                        alt="Delete"
                        (click)="deleteItem(item)"
                        class="icon"
                      />
                    </div>
                  </td>
                  <td  class="iconTable">
                    <button class="sel-btn" (click)="selectMap(item)">
                      <!-- [disabled]="isButtonDisabled(item)" -->
                      <!-- SELECT -->
                      {{
                        item.mapName === this.selectedMap?.mapName
                          ? "Deselect"
                          : "Select"
                      }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              
              *ngIf="currentTable === 'robot'"
            >
              <thead class="bg-gray-50">
                <tr>
                  <th
                   
                  >
                    Robot Name
                  </th>
                  <th
                    
                  >
                    IP Address
                  </th>
                  <th
                    class="iconTable"
                  >
                    Edit/Delete
                  </th>
                </tr>
              </thead>
              <tbody >
                <tr *ngIf="filteredRobotData.length === 0">
                  <td colspan="3" class="iconTable">
                    No data found
                  </td>
                </tr>
                <tr *ngFor="let item of filteredRobotData">
                  <td >
                    {{ item.column1 }}
                  </td>
                  <td >
                    {{ item.column2 }}
                  </td>
                  <td class="iconTable">
                    <img
                      src="../../assets/ConfigurationOptions/Edit.svg"
                      alt="Edit"
                      (click)="editItem(item)"
                      class="icon"
                    />
                    <img
                      src="../../assets/ConfigurationOptions/Delete.svg"
                      alt="Delete"
                      (click)="deleteItem(item)"
                      class="icon"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <button
              class="ASR-button"
              *ngIf="currentTable === 'robot'"
              (click)="openRobotParametersPopup()"
            >
              Add Selected Robots
            </button> -->

            <div class="popup-overlay" *ngIf="showRobotParametersPopup">
              <app-robot-parameters-popup
                (close)="closeRobotParametersPopup()"
              ></app-robot-parameters-popup>
            </div>
            <!-- Add this in your main component HTML -->
            <div class="form-group" *ngIf="currentTable === 'robot'">
              <label for="ipRangeFrom">IP Range:</label>
              <input pInputTextid="ipRangeFrom" type="text" placeholder="255.255.0.0" />
              <span>to: </span>
              <input pInputTextid="ipRangeTo" type="text" placeholder="255.255.0.0" />

              <button
                type="button"
                class="start-button"
                (click)="startScanning()"
              >
                Scan
              </button>
              <button
                type="button"
                class="stop-button"
                (click)="stopScanning()"
              >
                Stop
              </button>
              <div *ngIf="isScanning" class="loading-spinner"></div>
            </div>

            <div class="popup-overlay" *ngIf="showIPScannerPopup">
              <app-ipscanner
                *ngIf="showIPScannerPopup"
                (close)="closeIPScanner()"
              ></app-ipscanner>
            </div>

            <table *ngIf="currentTable === 'robot'">
              <thead>
                <tr>
                  <th>IP</th>
                  <th>MAC</th>
                  <th>Hostname</th>
                  <th>Ping</th>
                  <th>Status</th>
                  <th class="iconTable">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="ipScanData.length === 0">
                  <td colspan="6" class="iconTable">
                    No data found
                  </td>
                </tr>
                <tr *ngFor="let item of ipScanData">
                  <td>{{ item.ip }}</td>
                  <td>{{ item.mac }}</td>
                  <td>{{ item.host }}</td>
                  <td>{{ item.ping }}</td>
                  <td>{{ item.Status }}</td>
                  <td class="iconTable">
                    <!-- Add icon -->
                    <button (click)="openPopup(item)" class="icon-button">                      <!-- You can use Font Awesome or any other icon library -->
                      <img src="../../assets/icons/add.svg">
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="currentTab === 'fleet'">
              <ul class="tab-menu">
                <li
                  [class.active]="fleetTab === 'general'"
                  (click)="setFleetTab('general')"
                >
                  General
                </li>
                <li
                  [class.active]="fleetTab === 'plannar'"
                  (click)="setFleetTab('plannar')"
                >
                  Plannar
                </li>
                <li
                  [class.active]="fleetTab === 'task'"
                  (click)="setFleetTab('task')"
                >
                  Task
                </li>
                <li
                  [class.active]="fleetTab === 'battery'"
                  (click)="setFleetTab('battery')"
                >
                  Battery
                </li>
                <li
                  [class.active]="fleetTab === 'communication'"
                  (click)="setFleetTab('communication')"
                >
                  Communication
                </li>
              </ul>

              <div *ngIf="fleetTab === 'general'">
                <!-- <h2>Edit the Fleet Parameters</h2> -->
                <!-- Add content for the General tab -->
                 <app-general></app-general>
              </div>
              <div *ngIf="fleetTab === 'plannar'">
                <!-- <h2>Plannar Settings</h2> -->
                <!-- Add content for the Plannar tab -->
                 <app-planner></app-planner>
              </div>
              <div *ngIf="fleetTab === 'task'">
                <!-- <h2>Task Management</h2> -->
                <!-- Add content for the Task tab -->
                 <app-task></app-task>
              </div>
              <div *ngIf="fleetTab === 'battery'">
                <!-- <h2>Battery Information</h2> -->
                <!-- Add content for the Battery tab -->
                 <app-battery></app-battery>
              </div>
              <div *ngIf="fleetTab === 'communication'">
                <!-- <h2>Communication Settings</h2> -->
                <app-communication></app-communication>
              </div>
            </div>

            <div class="Create-button-container">
              <button
                class="Create-button"
                *ngIf="activeButton === 'Environment'"
                (click)="openImageUploadPopup()"
              >
                Create
              </button>
            </div>
            <app-envmap
              *ngIf="showImageUploadPopup"
              [EnvData]="this.EnvData"
              [currEditMap]="this.currEditMap"
              [currEditMapDet]="this.currEditMapDet"
              (closePopup)="closeImageUploadPopup()"
              (currEditMapChange)="onCurrEditMapChange($event)"
            >
            </app-envmap>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Popup form -->
<div *ngIf="isPopupOpen" class="popup-overlay">
  <div class="robopopup-content">
 <div>
    <form (ngSubmit)="saveItem()">
      <h4>Add Robot</h4>
      <div class="rob-inp">
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" [(ngModel)]="formData.manufacturer" name="manufacturer" required>
      </div>

      <div class="rob-inp">
        <label for="serialNumber">Serial Number:</label>
        <input type="text" id="serialNumber" [(ngModel)]="formData.serialNumber" name="serialNumber" required>
      </div>

      <div class="rob-btn">
      <div class="robBTN-inp">
        <Button (click)="toggleTypeSpecificationForm($event)" id="typeSpecificationLink">
           Type Specification
        </Button>

      </div>

      <div class="robBTN-inp">
        <button href="#" (click)="toggleProtocolLimitsForm($event)" id="protocolLimitsLink">
           Protocol Limits
        </button>

      </div>

      <div class="robBTN-inp">
        <button href="#" (click)="toggleProtocolFeaturesForm($event)" id="protocolFeaturesLink">
           Protocol Features
        </button>

      </div>

      <div class="robBTN-inp">
        <button href="#" (click)="toggleAGVGeometryForm($event)" id="agvGeometryLink">
           AGV Geometry
        </button>

      </div>

      <div class="robBTN-inp">
        <button href="#" (click)="toggleLoadSpecificationForm($event)" id="loadSpecificationLink">
           Load Specification
        </button>

      </div>

      <div class="robBTN-inp">
        <button href="#" (click)="toggleLocalizationParametersForm($event)" id="localizationParametersLink">
           Localization Parameters
        </button>

      </div>
      </div>

      <div class="btn-rob">
        <button type="submit">Save</button>
        <button type="button" (click)="closeroboPopup()">Close</button>
      </div>
    </form>
  </div>
    <div class="Sub-form">
    <div *ngIf="isLocalizationParametersFormVisible" class="localization-parameters-form">
      <!-- Localization Parameters form fields here -->
      <div class="rob-inp">
        <label for="localizationType">Localization Type:</label>
        <input type="text" id="localizationType" [(ngModel)]="formData.localizationParameters.type" name="localizationType">
      </div>
      <div class="rob-inp">
        <label for="localizationDescription">Localization Description:</label>
        <input type="text" id="localizationDescription" [(ngModel)]="formData.localizationParameters.description" name="localizationDescription">
      </div>
      <div>
        <button type="button" (click)="saveLocalizationParameters()">Save</button>
        <button type="button" (click)="closeLocalizationParametersForm()">Close</button>
      </div>
    </div>


    <div *ngIf="isLoadSpecificationFormVisible" class="load-specification-form">
      <!-- Load Specification form fields here -->
      <div class="rob-inp">
        <label for="loadPositions">Load Positions:</label>
        <input type="text" id="loadPositions" [(ngModel)]="formData.loadSpecification.loadPositions" name="loadPositions">
      </div>
      <div class="rob-inp">
        <label for="loadSets">Load Sets:</label>
        <input type="text" id="loadSets" [(ngModel)]="formData.loadSpecification.loadSets" name="loadSets">
      </div>
      <div>
        <button type="button" (click)="saveLoadSpecification()">Save</button>
        <button type="button" (click)="closeLoadSpecificationForm()">Close</button>
      </div>
    </div>

    <div *ngIf="isAGVGeometryFormVisible" class="agv-geometry-form">
      <!-- AGV Geometry form fields here -->
      <div class="rob-inp">
        <label for="wheelDefinitions">Wheel Definitions:</label>
        <input type="text" id="wheelDefinitions" [(ngModel)]="formData.agvGeometry.wheelDefinitions" name="wheelDefinitions">
      </div>
      <div class="rob-inp">
        <label for="envelopes2d">Envelopes 2D:</label>
        <input type="text" id="envelopes2d" [(ngModel)]="formData.agvGeometry.envelopes2d" name="envelopes2d">
      </div>
      <div class="rob-inp">
        <label for="envelopes3d">Envelopes 3D:</label>
        <input type="text" id="envelopes3d" [(ngModel)]="formData.agvGeometry.envelopes3d" name="envelopes3d">
      </div>
      <div>
        <button type="button" (click)="saveAGVGeometry()">Save</button>
        <button type="button" (click)="closeAGVGeometryForm()">Close</button>
      </div>
    </div>

    <div *ngIf="isProtocolFeaturesFormVisible" class="protocol-features-form">
      <!-- Protocol Features form fields here -->
      <div class="rob-inp">
        <label for="optionalParameters">Optional Parameters:</label>
        <input type="text" id="optionalParameters" [(ngModel)]="formData.protocolFeatures.optionalParameters" name="optionalParameters">
      </div>
      <div class="rob-inp">
        <label for="actionScopes">Action Scopes:</label>
        <input type="text" id="actionScopes" [(ngModel)]="formData.protocolFeatures.actionScopes" name="actionScopes">
      </div>
      <div class="rob-inp">
        <label for="actionParameters">Action Parameters:</label>
        <input type="text" id="actionParameters" [(ngModel)]="formData.protocolFeatures.actionParameters" name="actionParameters">
      </div>
      <div class="rob-inp">
        <label for="resultDescription">Result Description:</label>
        <input type="text" id="resultDescription" [(ngModel)]="formData.protocolFeatures.resultDescription" name="resultDescription">
      </div>
      <div>
        <button type="button" (click)="saveProtocolFeatures()">Save</button>
        <button type="button" (click)="closeProtocolFeaturesForm()">Close</button>
      </div>
    </div>

    <div *ngIf="isProtocolLimitsFormVisible" class="protocol-limits-form">
      <!-- Protocol Limits form fields here -->
      <div class="rob-inp">
        <label for="maxStringLens">Max String Lengths:</label>
        <input type="text" id="maxStringLens" [(ngModel)]="formData.protocolLimits.maxStringLens" name="maxStringLens">
      </div>
      <div class="rob-inp">
        <label for="maxArrayLens">Max Array Lengths:</label>
        <input type="text" id="maxArrayLens" [(ngModel)]="formData.protocolLimits.maxArrayLens" name="maxArrayLens">
      </div>
      <div class="rob-inp">
        <label for="timing">Timing:</label>
        <input type="text" id="timing" [(ngModel)]="formData.protocolLimits.timing" name="timing">
      </div>
      <div>
        <button type="button" (click)="saveProtocolLimits()">Save</button>
        <button type="button" (click)="closeProtocolLimitsForm()">Close</button>
      </div>
    </div>

    <div *ngIf="isTypeSpecificationFormVisible" class="type-specification-form">
      <div class="rob-inp">
        <label for="seriesName">Series Name:</label>
        <input type="text" id="seriesName" [(ngModel)]="formData.typeSpecification.seriesName" name="seriesName">
      </div>
      <div class="rob-inp">
        <label for="seriesDescription">Series Description:</label>
        <input type="text" id="seriesDescription" [(ngModel)]="formData.typeSpecification.seriesDescription" name="seriesDescription">
      </div>
      <div class="rob-inp">
        <label for="agvKinematic">AGV Kinematic:</label>
        <input type="text" id="agvKinematic" [(ngModel)]="formData.typeSpecification.agvKinematic" name="agvKinematic">
      </div>
      <div class="rob-inp">
        <label for="agvClass">AGV Class:</label>
        <input type="text" id="agvClass" [(ngModel)]="formData.typeSpecification.agvClass" name="agvClass">
      </div>
      <div class="rob-inp">
        <label for="maxLoadMass">Max Load Mass (Kg):</label>
        <input type="number" id="maxLoadMass" [(ngModel)]="formData.typeSpecification.maxLoadMass" name="maxLoadMass">
      </div>
      <div class="rob-inp">
        <label for="localizationTypes">Localization Types:</label>
        <input type="text" id="localizationTypes" [(ngModel)]="formData.typeSpecification.localizationTypes" name="localizationTypes">
      </div>
      <div class="rob-inp">
        <label for="navigationTypes">Navigation Types:</label>
        <input type="text" id="navigationTypes" [(ngModel)]="formData.typeSpecification.navigationTypes" name="navigationTypes">
      </div>
      <div>
        <button type="button" (click)="saveTypeSpecification()">Save</button>
        <button type="button" (click)="closeTypeSpecificationForm()">Close</button>
      </div>
    </div>

  </div>
  </div>
</div>
