/* Main Content Styling */
.mainContent {
  position: absolute;
  top: 30px;
  left: 70px;
  width: calc(100% - 70px);
  padding: 16px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
}

/* Header section styles */
.header-section {
  margin-bottom: 20px;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
  color: #DA2127;
  margin: 0;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent overlay */
  backdrop-filter: blur(8px); /* Blur the background */
  z-index: 0; /* Ensure it's below the popup but above other content */
}
.subheader-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subheader-text {
  font-size: 16px;
  color: #333;
}

.subheader-icon {
  width: 13px;
  height: 13px;
}

/* Table Container Styling */
.table-container {
  margin-top: 10px;
  max-height: 23.5rem;
  overflow-y: auto;
}


/* Table Styling */
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  border-spacing: 0;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ffffff;
  padding: 5px;
  height: 30px;
  text-align: center;
}
.sel-btn{
  border: 1px solid rgba(96, 90, 90, 0.451);
  padding: 5px;
  width: 100px;
  border-radius: 7px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
th {
  background-color: #FFCDCD;
  padding: 10px 20px;
  color: #000000;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
}

td {
  font-size: 13px;
}
td img,button{
margin-left: 10px;
}
tr:hover {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #FFF1F1;
}

/* Button Container Styling */
.button-container {
  margin-top: 10px;
}

.button {
  background-color: #FFFFFF;
  color: #000000;
  width: 185px;
  height: 50px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button:last-child {
  margin-right: 0;
}

.active-button {
  background-color: #ff3333;
  color: #FFFFFF;
  transform: scale(1.05);
}

.transition-active {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}


.canvas-container {
  position: relative;
}
.node {
  cursor: pointer;
  transition: border 0.2s;
}

/* Export Button Container */
.Create-button-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.Create-button {
  padding: 10px;
  background-color: #ff3333;
  color: #fff;  
  font-size: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.Open-button {
  padding: 10px;
  background-color: #ff3333;
  color: #fff;  
  font-size: 15px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
 
}
.Create-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.popup-content {
  position: relative;
  color: #FF7373;
  padding: 20px 20px 20px 20px; /* Adjust padding as needed */
  background: #fffffff9;
  border-radius: 20px;
  text-align: center;  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure content does not overflow */
  display: inline-block; /* Ensure content size determines popup size */
}
/* Style for the canvas container */
.canvas-container {
  position: relative;
}
.calibration-layer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c0b3b372;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  z-index: 1;
}
.transparent-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: transparent; */
  background-color: #a29d9d41;
  z-index: 0;
  pointer-events: none; /* Allows clicks to pass through to the underlying canvas */
}
.Image{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  z-index: 1;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  z-index: 2;
}
.Details  input{
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
  text-align: center;
}
/* Main container for search bar and date filters */
.search-date-container {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between search bar and date filters */
}

/* Search Bar Styling */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px; /* Adjust width as needed */
}

.search-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 3px solid #FF7373;
  border-radius: 0.375rem 0.375rem 0.375rem 0.375rem; /* Rounded corners on the left side */
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
  border-color: #ff4d4d;
  box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}

.search-button {
  position: absolute;
  right: 0;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #FF7373;
  color: white;
  border-radius: 0.375rem 0.375rem 0.375rem 0.375rem; /* Rounded corners on the right side */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
}

.search-button:hover {
  background-color: #D30000;
  transform: scale(1.05);
}

.search-button svg {
  fill: white;
}

/* Date Filters Styling */
.date-filters {
  display: flex;
  align-items: center; /* Align items horizontally */
  gap: 1rem; /* Space between date filter and date inputs */
}

.date-filter {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date-filter:focus {
  border-color: #D30000;
}

.date-inputs {
  display: flex;
  gap: 0.3rem; /* Space between date inputs */
  align-items: center;
}
.ASR-button, .IP-Scan{
  padding: 10px 20px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px;
}
.date-input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.date-input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #D30000;
}

.date-label {
  color: #333;
}
.tab-menu {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 20px;
}
 
.tab-menu li {
  margin-right: 20px;
  cursor: pointer;
}
 
.tab-menu li.active {
  border-bottom: 2px solid #ff7373;
  color: #ff7373;
}
.icon{
  padding-right:10px ;
}
.Map-settings {
  position: relative;
  display: inline-block;
}
/* Dropdown container */
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-button {
  background-color: #2725254f; /* Green background */
  color: white; /* White text */
  padding: 10px; /* Some padding */
  font-size: 14px; /* Font size */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none; /* Hide dropdown content by default */
  position: absolute; /* Position it absolutely */
  bottom: 100%; /* Position it above the button */
  left: 0; /* Align it with the button */
  background-color: transparent; /* Background color */
  min-width: 160px; /* Minimum width */
  z-index: 1; /* Place it on top */
}
.ip-scanner-popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #da2127;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.close-button:hover {
  color: red; /* Optional: Change color on hover */
}


.form-group {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

.form-group label {
  margin: 10px;
}
.form-group input {
  margin: 5px;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.form-group button{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.start-button {
  margin-left: 10px;
  background-color: #da2127;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}


/* Dropdown links */
.dropdown-content button {
  color: rgb(0, 0, 0); /* Black text */
  padding: 12px 16px; /* Padding */
  text-decoration: none; /* No underline */
  display: block; /* Block elements */
  width: 100%; /* Full width */
  font-weight: bold;
  border: none; /* No border */
  text-align: left; /* Align text to the left */
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #f1f1f1; /* Gray background */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; /* Show dropdown content */
}

/* Change the background color of the dropdown button when the dropdown content is visible */
.dropdown:hover .dropdown-button {
  background-color: #544d4d17; /* Darker green */
}

.calibrate-button {
  position: absolute;
  bottom: 10px; /* Adjust this value as needed */
  left: 80px;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #8484844f;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.calibrate-button:hover {
  background-color: #5b5b5e58;
}



.calibration-layer button {
  margin: 5px 0;
  padding: 8px 16px;
  background-color: #8484844f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.calibration-layer button:hover {
  background-color: #5b5b5e96;
}
.node.selected {
  border: 2px solid rgb(3, 1, 1);
  border-radius: 40%;
}
