<div class="flex h-screen">
  <app-sidenavbar class="fixed top-0 left-0 h-full"></app-sidenavbar>
  <div class="flex-grow ml-64 p-8 h-screen overflow-hidden">
    <div class="mainContent flex flex-col h-full justify-center items-center">
      <div class="header-section">
        <h1 class="header-title">{{ activeHeader }}</h1>
        <div class="subheader-container">
          <div class="subheader-text">Create and edit Configuration</div>
          <img
            src="../../assets/icons/i-icon.svg"
            alt="Icon"
            class="subheader-icon"
          />
        </div>
      </div>
 
      <div class="search-date-container">
        <!-- Search Bar -->
        <div class="search-filter-container">
          <div class="search-box">
          <input
            type="text"
            placeholder="Search For Something..."
            class="search-input"
            [(ngModel)]="searchTerm"
            (ngModelChange)="searchTermChanged()"
          />
          <button class="search-btn">
            <img
              src="../../assets/icons/download-removebg-preview.png"
              alt="Search"
            />
          </button>
          </div>
        </div>
 
        <!-- Date Filter and Date Inputs -->
        <div class="date-filters" *ngIf="currentTable === 'Environment'">
          <div class="date-inputs">
            <label for="start-date" class="date-label">Start Date:</label>
            <input
              type="date"
              id="start-date"
              (change)="onDateChange($event)"
              class="date-input"
              [min]="minDate"
              [max]="maxDate"
            />
      
            <label for="end-date" class="Enddate-label">End Date:</label>
            <input
              type="date"
              id="end-date"
              (change)="onDateChange($event)"
              class="date-input"
              [min]="minDate"
              [max]="maxDate"
            />
          </div>
        </div>
      </div>
 
      <!-- Buttons -->
      <div class="button-container">
        <div class="button-frame">
          <div class="mb-4">
            <button
              class="button"
              [ngClass]="{
                'active-button': activeButton === 'Environment',
                'transition-active': isTransitioning
              }"
              (click)="showTable('Environment')"
              (click)="setActiveButton('Environment')"
            >
              Environment
            </button>
            <button
              class="button"
              [ngClass]="{
                'active-button': activeButton === 'robot',
                'transition-active': isTransitioning
              }"
              (click)="showTable('robot')"
              (click)="setActiveButton('robot')"
            >
              Robot
            </button>
            <button
              class="button"
              [ngClass]="{
                'active-button': activeButton === 'fleet',
                'transition-active': isTransitioning
              }"
              (click)="setActiveButton('fleet')"
            >
              Fleet
            </button>
          </div>
        </div>
      </div>
 
      <!-- Table -->
      <div class="table-container">
        <div
          class="w-full max-w-6xl flex flex-col p-10 items-center justify-center gap-10 relative"
        >
          <div class="overflow-y-auto max-h-[32rem] w-full">
            <table
              class="min-w-full divide-y divide-gray-200"
              *ngIf="currentTable === 'Environment' && !imageUploaded"
            >
              <thead class="bg-gray-50">
                <tr>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Map Name
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Site Name
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Last Created
                  </th>
                  <th
                    class="iconTable"
                  >
                    Edit/Delete
                  </th>
                  <th
                  class="iconTable"                  >
                    Pick Map
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngIf="filteredEnvData.length === 0">
                  <td colspan="5" class="iconTable">
                    No data found
                  </td>
                </tr>
                <tr *ngFor="let item of filteredEnvData">
                  <td class="px-6 py-4 whitespace-nowrap">
                    {{ item.mapName }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {{ item.siteName }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {{ item.date }}
                  </td>
                  <td class="iconTable" >
                    <img
                      src="../../assets/ConfigurationOptions/Edit.svg"
                      alt="Edit"
                      (click)="editItem(item)"
                      class="icon"
                    />
                    <img
                      src="../../assets/ConfigurationOptions/Delete.svg"
                      alt="Delete"
                      (click)="deleteItem(item)"
                      class="icon"
                    />
                  </td>
                  <td  class="iconTable">
                    <button class="sel-btn" (click)="selectMap(item)">
                      <!-- [disabled]="isButtonDisabled(item)" -->
                      <!-- SELECT -->
                      {{
                        item.mapName === this.selectedMap?.mapName
                          ? "Deselect"
                          : "Select"
                      }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
 
            <table
              class="min-w-full divide-y divide-gray-200"
              *ngIf="currentTable === 'robot'"
            >
              <thead class="bg-gray-50">
                <tr>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    Robot Name
                  </th>
                  <th
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  >
                    IP Address
                  </th>
                  <th
                    class="iconTable"
                  >
                    Edit/Delete
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngIf="filteredRobotData.length === 0">
                  <td colspan="3" class="iconTable">
                    No data found
                  </td>
                </tr>
                <tr *ngFor="let item of filteredRobotData">
                  <td class="px-6 py-4 whitespace-nowrap">
                    {{ item.column1 }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {{ item.column2 }}
                  </td>
                  <td class="iconTable">
                    <img
                      src="../../assets/ConfigurationOptions/Edit.svg"
                      alt="Edit"
                      (click)="editItem(item)"
                      class="icon"
                    />
                    <img
                      src="../../assets/ConfigurationOptions/Delete.svg"
                      alt="Delete"
                      (click)="deleteItem(item)"
                      class="icon"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <button
              class="ASR-button"
              *ngIf="currentTable === 'robot'"
              (click)="openRobotParametersPopup()"
            >
              Add Selected Robots
            </button> -->
 
            <div class="popup-overlay" *ngIf="showRobotParametersPopup">
              <app-robot-parameters-popup
                (close)="closeRobotParametersPopup()"
              ></app-robot-parameters-popup>
            </div>
            <!-- Add this in your main component HTML -->
            <div class="form-group" *ngIf="currentTable === 'robot'">
              <label for="ipRangeFrom">IP Range:</label>
              <input id="ipRangeFrom" type="text" placeholder="255.255.0.0" />
              <span>to: </span>
              <input id="ipRangeTo" type="text" placeholder="255.255.0.0" />
 
              <button
                type="button"
                class="start-button"
                (click)="startScanning()"
              >
                Scan
              </button>
              <button
                type="button"
                class="start-button"
                (click)="stopScanning()"
              >
                Stop
              </button>
              <div *ngIf="isScanning" class="loading-spinner"></div>
            </div>
 
            <div class="popup-overlay" *ngIf="showIPScannerPopup">
              <app-ipscanner
                *ngIf="showIPScannerPopup"
                (close)="closeIPScanner()"
              ></app-ipscanner>
            </div>
 
            <table *ngIf="currentTable === 'robot'">
              <thead>
                <tr>
                  <th>IP</th>
                  <th>MAC</th>
                  <th>Hostname</th>
                  <th>Ping</th>
                  <th>Status</th>
                  <th class="iconTable">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="ipScanData.length === 0">
                  <td colspan="6" class="iconTable">
                    No data found
                  </td>
                </tr>
                <tr *ngFor="let item of ipScanData">
                  <td>{{ item.ip }}</td>
                  <td>{{ item.mac }}</td>
                  <td>{{ item.host }}</td>
                  <td>{{ item.ping }}</td>
                  <td>{{ item.Status }}</td>
                  <td class="iconTable">
                    <!-- Add icon -->
                    <button (click)="addItem(item)" class="icon-button">
                      <!-- You can use Font Awesome or any other icon library -->
                      <img src="../../assets/icons/add.svg">
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
           
            <div *ngIf="currentTab === 'fleet'">
              <ul class="tab-menu">
                <li
                  [class.active]="fleetTab === 'general'"
                  (click)="setFleetTab('general')"
                >
                  General
                </li>
                <li
                  [class.active]="fleetTab === 'plannar'"
                  (click)="setFleetTab('plannar')"
                >
                  Plannar
                </li>
                <li
                  [class.active]="fleetTab === 'task'"
                  (click)="setFleetTab('task')"
                >
                  Task
                </li>
                <li
                  [class.active]="fleetTab === 'battery'"
                  (click)="setFleetTab('battery')"
                >
                  Battery
                </li>
                <li
                  [class.active]="fleetTab === 'communication'"
                  (click)="setFleetTab('communication')"
                >
                  Communication
                </li>
              </ul>
 
              <div *ngIf="fleetTab === 'general'">
                <h2>Edit the Fleet Parameters</h2>
                <!-- Add content for the General tab -->
              </div>
              <div *ngIf="fleetTab === 'plannar'">
                <h2>Plannar Settings</h2>
                <!-- Add content for the Plannar tab -->
              </div>
              <div *ngIf="fleetTab === 'task'">
                <h2>Task Management</h2>
                <!-- Add content for the Task tab -->
              </div>
              <div *ngIf="fleetTab === 'battery'">
                <h2>Battery Information</h2>
                <!-- Add content for the Battery tab -->
              </div>
              <div *ngIf="fleetTab === 'communication'">
                <h2>Communication Settings</h2>
              </div>
            </div>
 
            <div class="Create-button-container">
              <button
                class="Create-button"
                *ngIf="activeButton === 'Environment'"
                (click)="openImageUploadPopup()"
              >
                Create
              </button>
            </div>
            <app-envmap
              *ngIf="showImageUploadPopup"
              [EnvData]="this.EnvData"
              [currEditMap]="this.currEditMap"
              [currEditMapDet]="this.currEditMapDet"
              (closePopup)="closeImageUploadPopup()"
              (currEditMapChange)="onCurrEditMapChange($event)"
            >
            </app-envmap>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>