<div class="topbar">
</div>
<div class="sidebar">
        <img src="../../assets/Motherson_full_logo.jpeg" class="Logo"> 
        <div class="icons">         
        <img src="../../assets/icons/dashboard_icon copy.svg"routerLink="/dashboard" class="Dlogo">    
        <img src="../../assets/icons/Statistics_icon.svg"routerLink="/statistics" class="Slogo"> 
        <img src="../../assets/icons/Configuration_icons.svg"routerLink="/configuration" class="Clogo">         
        <img src="../../assets/icons/Logs_icons.svg"routerLink="/userlogs" class="Llogo"> 
        <img src="../../assets/icons/Usermanagement_icons.svg"routerLink="/usermanagement" class="Ulogo">
          
        </div>
        <img src="../../assets/icons/Logout_icon.svg"routerLink="/" class="Outlogo"> 
        <!-- <a routerLink="/UserManagement">User Management</a><br>  -->
</div>
