
.activities-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2%; 
  width: 35vw; 
  height: 42vh; 
  box-sizing: border-box;
}

apx-chart {
  width: auto !important; /* Prevent the chart from being squeezed */
  max-width: 90%; /* Ensure the chart width is manageable */
  height: auto !important;
  margin: 0 auto; /* Center the chart */
}



/* Responsive styling for smaller screens */
@media (max-width: 480px) {
  .apexcharts-datalabel-label, .apexcharts-datalabel-value {
    font-size: 0.9em; /* Smaller font size on mobile */
  }
  .apexcharts-legend-text {
    font-size: 0.8em; /* Smaller legend text on mobile */
  }
}