<div class="container">
  <app-sidenavbar></app-sidenavbar>
  <div class="mainContent">
    <canvas id="myCanvas"></canvas>
    <div class="ONBtn">
      <img [src]="getOnBtnImage()" (click)="toggleONBtn()">
    </div>
    <div class="FloorSelector" *ngIf="ONBtn">
      <select [(ngModel)]="selectedFloor" (change)="onFloorChange($event)" class="selector">
        <option *ngFor="let floor of floors" [value]="floor">{{ floor }}</option>
      </select>
    </div>
    <div class="CanvasOptions" *ngIf="ONBtn">
      <span class="empty"></span>
      <img src="../../assets/CanvasOptions/Expand.svg" class="Expand">
      <img src="../../assets/CanvasOptions/Layout.svg" class="Layout">
      <img src="../../assets/CanvasOptions/Save.svg" class="Save">
      <img src="../../assets/CanvasOptions/Pointer.svg" class="Pointer">
      <img src="../../assets/CanvasOptions/Zoom.svg" class="Zoom">
      <img src="../../assets/CanvasOptions/ZoomOut.svg" class="ZoomOut">
    </div>
    <div class="GraphAndCharts">
      <div class="Chart1">
        <div class="T-Chart">
        <app-throughput></app-throughput>
      </div>
      </div>
      <div class="Chart2">
        <p>Uptime</p>
        <div class="U-Chart">
        <app-uptime></app-uptime>
      </div>
      </div>
      <div class="Chart3">
        <p>Robots Status</p>
        <div class="R-Chart">
          <app-chart></app-chart>
        </div>
      </div>
    </div>
  </div>
</div>
