<!-- dashboard.component.html -->
<div class="container">
  <app-sidenavbar></app-sidenavbar>
  <div class="mainContent">
    <canvas id="myCanvas"></canvas>
    <div class="ONBtn">
      <img [src]="getOnBtnImage()" (click)="toggleONBtn()">
    </div>
    <div class="CanvasOptions">
      <img src="../../assets/CanvasOptions/Expand.svg" class="Expand">
      <img src="../../assets/CanvasOptions/Layout.svg" class="Layout">
      <img src="../../assets/CanvasOptions/Save.svg" class="Save">
      <img src="../../assets/CanvasOptions/Expand.svg" class="Expand">
      <img src="../../assets/CanvasOptions/Expand.svg" class="Expand">
      <img src="../../assets/CanvasOptions/Expand.svg" class="Expand">
    </div>
  </div>
</div>
