<div class="container" #screen>
  <app-sidenavbar></app-sidenavbar>
  <div class="mainContent">
    <canvas id="myCanvas" (mousedown)="panStart($event)"></canvas>
    <div class="ONBtn" (click)="startStopOpt()">
      <img [src]="getOnBtnImage()" (click)="toggleONBtn()" />
    </div>
    <div class="FloorSelector" *ngIf="ONBtn"></div>
    <div class="CanvasOptions">
      <span class="empty"></span>
      <div class="tooltip">
        <img
          src="../../assets/CanvasOptions/Zoom.svg"
          class="Zoom"
          (click)="zoomIn()"
        />
        <span class="tooltiptext">Zoom In</span>
      </div>
      <div class="tooltip">
        <img
          src="../../assets/CanvasOptions/ZoomOut.svg"
          class="ZoomOut"
          (click)="zoomOut()"
        />
        <span class="tooltiptext">Zoom Out</span>
      </div>
      <div class="tooltip">
        <img
          src="../../assets/CanvasOptions/Pan.svg"
          class="Expand"
          (click)="togglePan()"
        />
        <span class="tooltiptext">Pan</span>
      </div>
      <div class="tooltip">
        <img
          src="../../assets/CanvasOptions/Capture.svg"
          class="Capture"
          (click)="captureCanvas()"
        />
        <span class="tooltiptext">Capture</span>
      </div>
      <div class="tooltip">
        <img
          [src]="
            recording
              ? '../../assets/CanvasOptions/StopRecord.svg'
              : '../../assets/CanvasOptions/Record.svg'
          "
          class="Save"
          (click)="toggleRecording()"
        />
        <span class="tooltiptext">{{
          recording ? "Stop Recording" : "Start Recording"
        }}</span>
      </div>
      <div class="tooltip">
        <img
          src="../../assets/CanvasOptions/Dashboard.svg"
          class="Pointer"
          (click)="toggleDashboard()"
        />
        <span class="tooltiptext">Dashboard</span>
      </div>
    </div>

    <div class="GraphAndCharts" *ngIf="showDashboard">
      <div class="Chart2_Chart3">
        <div class="Chart2-container">
          <!-- [ngClass]="{ blurred: ONBtn }" insert it in below class at the end -->
          <div class="Chart2">
            <p>Uptime</p>
            <div class="U-Chart">
              <app-uptime [ONBtn]="ONBtn"></app-uptime>
            </div>
          </div>
          <!-- *ngIf="ONBtn" insert it in below class at the end -->
          <!-- <div class="chart2-blur-layer"> // need to take..
            <div class="loading">
              <div class="d1"></div>
              <div class="d2"></div>
            </div>
          </div> -->
        </div>
        <div class="Chart3-container">
          <!-- [ngClass]="{ blurred: ONBtn }" insert it in below class at the end -->
          <div class="Chart3">
            <p>Robot</p>
            <div class="R-Chart">
              <app-chart></app-chart>
            </div>
          </div>
          <!-- *ngIf="ONBtn" insert it in below class at the end -->
          <!-- <div class="chart3-blur-layer"> // need to take..
            <div class="loading">
              <div class="d1"></div>
              <div class="d2"></div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="Chart1-container">
        <!-- [ngClass]="{ blurred: ONBtn }" insert it in below class at the end -->
        <div class="Chart1">
          <app-throughput></app-throughput>
        </div>
        <!-- *ngIf="ONBtn" insert it in below class at the end -->
        <!-- <div class="chart1-blur-layer"> // need to take..
          <div class="loading">
            <div class="d1"></div>
            <div class="d2"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
