/* Main Content Styling */
.mainContent {
    position: absolute;
    top: 30px;
    left: 70px;
    width: calc(100% - 70px);
    padding: 16px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
  }
  /* Header section styles */
  .header-section {
    margin-bottom: 20px;
  }
   
  .header-title {
    font-size: 36px;
    font-weight: bold;
    color: #DA2127;
    margin: 0;
  }
   
  .subheader-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
   
  .subheader-text {
    font-size: 16px;
    color: #333;
  }
   
  .subheader-icon {
    width: 13px;
    height: 13px;
  }
   
  /* Search Bar and Date Filters */
  .search-date-container {
    position: absolute;
    top: 30px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
   
  /* Search Bar Styling */
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 360px;
  }
   
  .search-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 3px solid #FF7373;
    border-radius: 0.375rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
   
  .search-input:focus {
    border-color: #ff4d4d;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
  }
   
  .search-button {
    position: absolute;
    right: 0;
    padding: 0.75rem 1rem;
    border: none;
    background-color: #FF7373;
    color: #fff;
    border-radius: 0.375rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
   
  .search-button:hover {
    background-color: #ff4d4d;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
  }
    
  /* Action Buttons */
  .action-buttons {
    position: absolute;
    top: 90px; /* Adjust the top spacing as needed */
    right: 20px; /* Adjust the right spacing as needed */
  }
   
  .add-robots-button {
    background-color: #ff0000; /* Red background color */
    color: #ffffff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove the default border */
    cursor: pointer; /* Pointer cursor on hover */
  }
   
  .add-robots-button:hover {
    background-color: #cc0000; /* Darker red on hover */
  }
   
   
  .edit-button, .delete-button {
    padding: 0.75rem 1.5rem;
   
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    background-color: #FF7373;
    color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
   
  .edit-button:hover, .delete-button:hover {
    background-color: #ff4d4d;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
  }
   
  /* Card Container */
  .card-container-wrapper {
    margin-top: 1rem;
    overflow-y: auto;
  }
  
  .card-container {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    padding: 1rem;
  }
  
  .card {
    position: relative;
    flex: 0 0 300px; /* Fixed width for each card */
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center; /* Center align content */
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: 200px; /* Set a consistent height for the image */
    object-fit: contain; /* Scale the image to fit within the container without cropping */
    border-radius: 0.5rem;
    background-color: #f7f7f7; /* Optional: add a background color for better contrast */
    margin-bottom: 1rem;
  }
  
  .card-content {
    margin-top: 1rem;
  }
  
  .card-content p {
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.5;
    color: #555;
  }
  
  /* Style for the title inside the card */
  .card-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  /* Ensure content doesn't overflow */
  .card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .card {
      flex: 0 0 100%; /* Cards will take full width on smaller screens */
      margin-bottom: 1rem;
    }
  
    .card-container {
      flex-direction: column; /* Stack cards vertically */
    }
  }
  
   
   /* Popup Overlay */
.popup-overlay {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Popup Container */
.popup {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  width: 100%;
}

/* Popup Title */
.popup h2 {
  margin-top: 0;
  margin-bottom: 1.5rem; /* Add bottom margin for spacing */
  font-size: 2.5rem;
  font-weight: bold;
  color: #ee1b1b;
  text-align: center; /* Center the title */
}

/* Form Styling */
.popup form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Add spacing between form elements */
}

/* Form Group Margin */
.popup form .mb-4 {
  margin-bottom: 1rem;
}

/* Label Styling */
.popup form .mb-4 label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333; /* Darker label color */
}

/* Input Styling */
.popup form .mb-4 input {
  width: 100%;
  padding: 0.75rem; /* Add padding for better UX */
  border: 1px solid #a5a5a5;
  border-radius: 0.375rem;
  box-shadow: 0 0 0 2px rgba(120, 120, 120, 0.2); /* Add shadow on focus */
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Input Focus State */
.popup form .mb-4 input:focus {
  border-color: #ee1b1b; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(238, 27, 27, 0.3); /* Slight shadow on focus */
}

/* Form Button Container */
.popup form .flex {
  display: flex;
  justify-content: flex-end;
  gap: 1rem; /* Space between buttons */
  margin-top: 1.5rem; /* Add margin-top for spacing */
}

/* Button Styling */
.popup form button {
  padding: 0.75rem 1.5rem;
  
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #ee1b1b;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

/* Button Hover State */
.popup form button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #ea1c1c; /* Lighten background color on hover */
  transform: scale(1.05);
}

/* Button Active State */
.popup form button:active {
  transform: scale(1); /* Reset scale on click */
}
   
  /* menu */
  .menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
   
  }
   
  /* CSS for the popup menu */
  .popup-menu {
    position: absolute;
    top: 35px;
    right: 10px;
    background-color: #DA2127;
    border: 1px solid #DA2127;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; /* Initially hidden */
  }
   
  /* CSS to display the popup menu when visible */
  .popup-menu.show {
    display: block;
  }
   
  /* CSS for the menu options */
  .popup-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
   
  .popup-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
   
  .popup-menu ul li:last-child {
    border-bottom: none;
  }
   
  .popup-menu ul li:hover {
    background-color: #ff6666;
  }
   
  .card-right {
    position: absolute;
    right: 10px;
    top: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
   
  .id-status {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
   
  .id-text {
    font-size: 18px; /* Different pixel size for the ID number */
    margin-right: 10px;
  }
   
  .status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
  }
   
  .status-indicator.active {
    background-color: green;
  }
   
  .status-indicator.inactive {
    background-color: red;
  }
   
  .status-indicator.error {
    background-color: yellow;
  }
   
  .robot-battery {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
   
  .robot-battery::before {
    /* content: url('path-to-your-battery-icon.svg');  */
    margin-right: 5px;
  }