.mainContent {
  position: absolute;
  top: 50px;
  left: 70px;
  width: calc(100% - 70px); /* Adjusts width considering the left margin */
  padding: 16px;
  overflow: hidden; /* Prevents scrolling within this section */
  box-sizing: border-box; /* Ensures padding is included in width calculation */
  background-color: white; /* Ensures it’s distinct from the sidebar */
}

table {
  border-collapse: collapse;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  border-spacing: 0;
  border: 1px solid #ccc;
  overflow: hidden;
}
 
th, td {
  border: 1px solid #e5e7eb; /* Tailwind's gray-200 */
  
  padding: 5px;
  height: 40px;
}
 
th {
  background-color: #FFCDCD; /* Tailwind's gray-50 */
  font-weight: bold;
  padding: 12px;
  border-bottom: 1px solid #ddd;

  
}
 
tr:hover {background-color: #f2f2f2;}
 
tr:nth-child(even) {
  background-color: #FFF1F1;
}
 
/* Button Container styling */
.container {
  display: flex;
  border: 1px solid #d1d5db; /* Light gray border */
  border-radius: 0.5rem; /* Rounded corners */
  padding: 0.25rem; /* Adjust padding as needed */
}
 
/* General button styling */
.button {
  flex: 1;
  border-radius: 0.5rem; /* Rounded corners */
  
  border: 1px solid;
  padding: 0.75rem; /* Adjust padding as needed */
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
 
/* Button 1 styling */
.button-1 {
  /* Rectangle 40406 */
width: 185px;
height: 50px;
color: #ffffff; /* Dark gray */

background: #DA2127;
border: 1px solid #D30000;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;

}
 
.button-1:hover {
  background-color: #ef4444; /* Lighter red */
  border-color: #991b1b; /* Slightly darker red */
}
 
/* Button 2 styling */
.button-2 {
  /* Rectangle 40406 */
width: 200px;
height: 50px;
background: #FFFFFF;
border: 1px solid #8B8B8B;
border-radius: 5px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}
 
.button-2:hover {
  background-color: #DA2127; /* Light gray */
  border-color: #9ca3af; /* Medium gray */
  color: #ffffff;
}
 
/* Button 3 styling */
.button-3 {
/* Rectangle 40405 */

width: 200px;
height: 50px;

background: #FFFFFF;
border: 1px solid #8B8B8B;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;

}
 
.button-3:hover {
  background-color: #DA2127; /* Light gray */
  border-color: #9ca3af; /* Medium gray */
  color: #ffffff;
 
}

.button-frame {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0px;
  gap: 0px;
  width: 692px;
  height: 56px;
  border: 1px solid #E5E4E4;
  border-radius: 5px;
}

.export-button {
  position: absolute;
  bottom: 10px; /* Distance from the bottom of the container */
  right: 10px; /* Distance from the right of the container */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.export-button:hover {
  background-color: #0056b3; /* Darker background on hover */
}












/* Category table */

/* Auto layout */
/* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
isolation: isolate;

position: absolute;
width: 1288px;
height: 577px;
left: 119px;
top: 337px;
 */
