/* Main Content Styling */
/* *{
  margin-left: 10%;
} */

/* under development */

.under-development-overlay {
  position: fixed; /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Full-screen white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
}

.overlay-content {
  text-align: center; /* Center the content */
}

.overlay-content p {
  margin-top: -30px; /* Space between SVG and text */
  font-size: 40px; /* Adjust font size as needed */
  color: rgb(86, 85, 85); /* Text color */
  font-weight: 700;
}


/* .support-page-container{

    margin-top: 4%;
   margin-left: 5%;
} */

.support-page-container {
  position: relative;
  margin-top: 4%;
   margin-left: 5%;
   
  
}



.header-title {
    font-size: 36px;
    font-weight: bold;
    color: #DA2127;
    margin: 0;
  }

  .subheader-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .subheader-text {
    font-size: 16px;
    color: #333;
  }

  .subheader-icon {
    width: 23px;
    height: 13px;
  }
  /* Support Sections */
  .support-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 50px;
  }

  .support-section {
    text-align: center;
    margin-top: 50px;
    flex: 1 1 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    /* transition: transform 0.2s ease-in-out; */
  }

  /* .support-section:hover {
    transform: scale(1.05);
  } */

  .support-section img {
    width: 50px;
    margin-bottom: 10px;
  }

  .support-section h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .support-section p {
    font-size: 1rem;
    color: #666;
  }

  /* Social Media Section */
  .social-media-container {
    text-align: center;
    margin-top: 30px;
  }

  .social-media-container h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .social-media-icons a {
    margin: 0 10px;
    display: inline-block;
  }

  .social-media-icons img {
    width: 40px;
    height: 40px;
    transition: opacity 0.2s ease-in-out;
  }

  .social-media-icons a:hover img {
    opacity: 0.7;
  }

  /* Responsive Styling */
  @media screen and (max-width: 768px) {
    .support-sections {
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (max-width: 480px) {
    .support-header h1 {
      font-size: 1.5rem;
    }

    .support-header p {
      font-size: 1rem;
    }

    .support-section h3 {
      font-size: 1.2rem;
    }

    .support-section p {
      font-size: 0.9rem;
    }

    .social-media-icons img {
      width: 30px;
      height: 30px;
    }
  }


/* contact popup*/

/* Fullscreen popup overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Popup content */
  .popup-content {
    background-color: white;
    width: 80%;

    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  /* Close button */
  .popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  /* Form layout */
  .form-row {
    margin-bottom: 15px;
  }

  .form-row label {
    display: block;
    margin-bottom: 5px;
  }

  .form-row input, .form-row select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-row button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-row button:hover {
    background-color: #d32f2f;
  }



  /* .button:hover {
    background: #6c18ff;
  }

  .button:hover .text {
    top: -100%;
  }

  .button:hover .icon {
    top: 0;
  } */

  /* .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }

  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }

  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  } */


  /* download button */
  /* From Uiverse.io by d3uceY */ 
.download-btn {
  height: 45px;
  width: 125px;
  cursor: pointer;
  background: white;
  border: none;
  background: #ff3333;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.button-content {
  transform: translateY(-45px);
  transition: all 250ms ease-in-out;
}

.svg-container,
.text-container {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.text-container .text {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  opacity: 1;
  transition: opacity ease-in-out 250ms;
}

.download-icon {
  height: 25px;
  width: 25px;
  fill: #fff;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

/* hover state for the button */
.download-btn:hover .button-content {
  transform: translateY(0px);
}

.download-btn:hover .text {
  opacity: 0;
}

.download-btn:hover .download-icon {
  opacity: 1;
}

.download-btn:focus .download-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* hover state for the button */

/* From Uiverse.io by cssbuttons-io */ 
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 20px;
}

button.custom-learn-more {
  width: 12rem;
  height: auto;
  font-size: 14px;
  font-weight: 500;
}

button.custom-learn-more .custom-circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ff3333;
  border-radius: 1.625rem;
}

button.custom-learn-more .custom-circle .custom-icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.custom-learn-more .custom-circle .custom-arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.custom-learn-more .custom-circle .custom-arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.custom-learn-more .custom-button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .custom-circle {
  width: 100%;
}

button:hover .custom-circle .custom-arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .custom-button-text {
  color: #fff;
}
