@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */
/* @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css"; */
body {
    margin: 0px 0px 0px 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* styles.css or styles.scss */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    /* Define other variables as needed */
  }

  [data-theme="dark"] {
    --background-color: #1e1e1e;
    --text-color: #ffffff;
    /* Define other variables as needed */
  }

  /* Apply these variables globally */
  /* body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  } */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000; /* Ensure loader is above all content */
}

.bar {
  width: 10px;
  height: 70px;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 5px 10px 20px inset rgba(255, 23, 25.2);
  animation: loader 1.2s linear infinite;
}
.middle {
  z-index: 9999; /* Ensure it's above other elements */
}
/* Define delays for each bar's animation */
.bar1 { animation-delay: 0.1s; }
.bar2 { animation-delay: 0.2s; }
.bar3 { animation-delay: 0.3s; }
.bar4 { animation-delay: 0.4s; }
.bar5 { animation-delay: 0.5s; }
.bar6 { animation-delay: 0.6s; }
.bar7 { animation-delay: 0.7s; }
.bar8 { animation-delay: 0.8s; }

@keyframes loader {
  0% { transform: scaleY(0.1); background: transparent; }
  50% { transform: scaleY(1); background: #e74c3c; }
  100% { transform: scaleY(0.1); background: transparent; }
}
