#chart {
    position: relative;
    padding: 0; /* Remove extra padding */
  }
  
  #chart h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #333;
    position: absolute;
    top: 0;   /* Positioned directly at the top */
    left: 0;  /* Positioned directly at the left */
  }
  
  apx-chart {
    width: 100%;
    max-width: 600px;
    
  }
 
  .radial-chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chart {
    width: 60%; /* Adjust as needed */
  }
  
  .chart-labels {
    display: flex;
    flex-direction: column;
    width: 35%; /* Adjust as needed */
  }
  
  .label-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .healthy-color {
    background-color: #00e396; /* Match Healthy color */
  }
  
  .inactive-color {
    background-color: #feb019; /* Match Inactive color */
  }
  
  .error-color {
    background-color: #ff4560; /* Match Error color */
  }
  
  .label-text {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
  }
  
  .label-value {
    font-size: 16px;
    font-weight: bold;
    color: #555; /* Adjust color as needed */
  }
  