#chart {
    max-width: 900px;
    margin: 10px auto;
    background-color: #f6f3f3; /* Set your desired background color */
  }

  .apexcharts-area-series .apexcharts-area {
    stroke: #FF0000 !important;
  }
  
