<div class="popup" *ngIf="isVisible">
  <h4>Select Robots</h4>
  <div *ngFor="let robot of availableRobots">
    <label>
      <input type="checkbox" [(ngModel)]="robot.selected" />
      <img [src]="robot.image" [alt]="robot.name" class="robot-image" /> 
      {{ robot.name }}
    </label>
  </div>
  <div *ngIf="showError" class="error-message">
    Please select at least one robot.
  </div>
  <button (click)="addSelectedRobots()">Place</button>
  <button (click)="closePopup()">Close</button>
</div>
