.RightPanel{    
    font-family: Arial, Helvetica, sans-serif;
    height: 450px;
    width: 750px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative; /* Add this line */

}
.ProjTitle{
    font-size: 40px;
    font-weight: bolder;
    margin: 40px 0px 10px 30px; /*TRBL*/
}

.LogoutBtn{
    width: 25%;
    padding: 15px;
    background-color: #b71c1c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 50px 0px 10px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.LogoutBtn:hover{
    background-color: #852929;    
}
.LeftPanel{   
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.LeftPanel2{
    width: 8%;
    display: flex;
}
.motherson-logo {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 130px;
}
.fms-box {
    background-color: white;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fms-box p {
    font-size: 4rem;
    color: #b71c1c;
    margin: 0;
}
.ProTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
}
.Projectpage{ 
    display: flex;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    overflow: hidden;
}
.ProjectSetup{
    display:grid ;
}
.ProjDiv1,.ProjDiv2,.ProjDiv3{
    background-color: #0000005c;
    height: 280px;
    width: 250px;
    border-radius: 10px;
    position: absolute; /* Add this line */
    top: 215px; /* Center vertically */
    right: 40px; /* Adjust the position from the right */
    transform: translateY(-50%); /* Center vertically */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.CNPBtn,.IMFBtn,.OEPBtn{
height: 40px;
width: 160px;
background-color: transparent;
margin: 30px 0px 5px 25px;
padding: 5px 0px 5px 0px;
font-size: 15px;
border-radius: 10px;
border: none;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #00000061;
}
.CNPBtn:hover,.IMFBtn:hover,.OEPBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
    color: #000000;
}
.BackBTN,.OpenBTN,.CreateBTN{
    width: 75px;
    padding: 10px;
    background-color: #b71c1c;
    border: none;
    border-radius: 5px;
    color: white;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.BackBTN:hover,.OpenBTN:hover,.CreateBTN:hover{
    background-color: #852929;  
}