<div class="container1">
  <div class="content-fluid1">
    <div class="general">
      <!-- <form> -->
        <div class="container">
          <div class="form-control">
            <div class="head1">
              <h4>WES Communications:</h4>
              <div class="field">
                <label for="name">External Inteface IP :  </label>
                <input class="input" type="number" minlength="7" maxlength="15" size="15"  placeholder="Enter" pInputText required/>
              </div>
              <div class="field">
                <label for="name">External Inteface Type : </label>
                <input type="text" placeholder="Enter IP"  pInputText/>
              </div>
            </div>
            <div class="head2">
              <h4>Communication </h4>
              <div class="field">
                <label for="name">Robot Inteface IP :  </label>
                <input class="input" type="number" minlength="7" maxlength="15" size="15"  placeholder="Enter" pInputText required/>
              </div>
              <div class="field">
                <label for="name">Robot Inteface Type : </label>
                <input type="text" placeholder="Enter IP"  pInputText/>
              </div>
            </div>
            <div class="radio">
              <h4>Robot Communications:</h4>
                <h3>Select an option:</h3>
                <div class="flex flex-wrap gap-3">
                  <div class="flex align-items-center">
              <div *ngFor="let category of categories" class="field-checkbox">
                  <p-radioButton 
                      [inputId]="category.key"
                      name="category" 
                      [value]="category" 
                      [(ngModel)]="selectedCategory" />
                  <label [for]="category.key" class="ml-2">
                      {{ category.name }}
                  </label>
                  </div>
              </div>
          </div>
        </div>
        <div class="field mt-1">
          <p-button
            label="Apply Filter"
            type="submit"
            class="block mt-1 pt-2 button"
            icon="pi pi-search"
            styleClass="p-button-danger"
          ></p-button>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>
