.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .popup-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .popup-header h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .robot-detail-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .robot-image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .robot-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    
  }
  
  .battery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .battery-status {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .battery {
    width: 80px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
    background-color: white;
  }
  
  .battery-level {
    height: 100%;
    background-color: green;
    border-radius: 5px 0 0 5px;
  }
  
  .robot-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .robot-info-item {
    font-size: 16px;
  }
  
  .popup-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  button[mat-button] {
    background-color: #DA2127;
    color: white;
  }
  
  button[mat-button][color="warn"] {
    background-color: #5a5a5a;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
  }
  
  .close-button svg {
    fill: red; /* Change the color as needed */
    width: 24px;
    height: 24px;
  }
  
  .close-button:hover svg {
    fill: darkred;
  }