#chart-timeline {
    margin-bottom: 0px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  button.active {
    background-color: #775DD0;
    color: white;
  }
  
  button:hover {
    background-color: #ddd;
  }
  